APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TWITTER_CONSUMER_KEY=LN7VLxtQKjFXsHPOIIM4zQ
TWITTER_CONSUMER_SECRET=gRmPQXnu0smxhFS3fYYUe1aSp18INC7Fu76ld1JM
